.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #986d6d;
    border-radius: 5px;
    background-color: rgba(215, 206, 206, 0.68);
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  
  .form-group {
    margin-bottom: 15px; 
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  } */
  
  .error-message {
    color: red;
  }

  body{
    font-family: Arial;
    text-align: center;
   
  }
  /* .back{
    background-color: rgb(146, 146, 146);
  } */

  