.notification {
  color: rgba(255, 255, 255, 0.973);
  background: rgba(48, 165, 24, 0.783);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.redNotification{
  color: rgba(255, 255, 255, 0.973);
  background: rgba(255, 0, 0, 0.783);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}



